.col1{
	background-color: pink;
	color: white;
}
.col2{
	background-color: blue;
	color: white;
}
.nested-col-1{
	background-color: grey;
	color: white;

}
.nested-col-2{
	background-color: orange;
	color: white;

}